*{
    box-sizing: border-box;
    list-style-type: none;
}
#navbar-responsive{display: none;}
#categories-responsive{display: none;}
#best-deals-responsive{display: none;}
#top-rated-product-responsive{display: none;}   
#FAQ-responsive{display: none;}

#sign-in-bg{
    position: absolute;
    background: black;
    width: 100%;
    height: 429em;
    z-index: 3;
    opacity: 0.6;
    display: none;
}
.login{
    display: none;
    top: 20%;
    position: fixed;
    z-index: 3;
    background: #fff;
    width: 28%;
    right: 37%;
    height: 50%;
    padding: 30px;
}
.login .close-login-btn{
    position: absolute;
    margin-left: 0;
    /* top: 0; */
    border-radius: 50%;
    padding: 3px 10px;
    bottom: 96%;
    background: black;
    color: #fff;
    left: 95%;
    border: 2px solid #fff;
}
.login .email{
    border: 1px solid #b5afaf;
    padding: 5px;
    border-radius: 5px;
}

.login .email input{
    border: none;
    width: 100%;
}
.login .email input:focus{
    outline: none;
}
.login .name{
    margin-top: 15px;
    border: 1px solid #b5afaf;
    padding: 5px;
    border-radius: 5px;
}

.login .name input{
    border: none;
    width: 100%;
}
.login .name input:focus{
    outline: none;
}
.login button{
    width: 100%;
    border: none;
    background: #1515ff;
    color: #fff;
    padding: 8px;
    margin-top: 15px;
    border-radius: 8px;
}
.login button:hover{
    background-color: black;
    color: #fff;
}
.live-chat{
    right: -235px;
    bottom: 15px;
    position: fixed;
    z-index: 2;
}

#navbar .signIn-item{
    display: none;
    position: absolute;
    background: #fff;
    z-index: 1;
    top: 205px;
    width: 12%;
    right: 348px;
    font-size: 15px;
    padding: 15px;
}


#navbar .more-categories{display: none;}
#navbar .more-categories ul li{margin-top: 15px;}


#navbar .signIn-item ul li{
    margin-top: 15px;
    border-bottom: 1px solid #e0dcdc;
    padding-bottom: 10px;
}
.live-chat .up{
    position: absolute;
    border: 3px solid blue;
    padding: 5px 10px;
    border-radius: 8px;
    left: -27px;
    bottom: 35px;
}
.live-chat-item{
    background-color: #f6f6f7;
    box-shadow: 0px 0px 16px 1px #9e9b9b;
    position: absolute;
    width: 300px;
    right: 77%;
    z-index: 1 !important;
    height: 460px;
    border-radius: 8px;
    bottom: 0;
    display: none;
}

.live-chat-item .head{
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cec9c9;
    padding-bottom: 15px;
    padding: 10px;
}
.live-chat-item .monster-bot{
    padding: 10px;
    background-color: #fff;
}
.live-chat-item .message{
    padding-top: 10px;
    height: 250px;
}
.live-chat-item .message .chat{
    background: #fff;
    margin-left: 30px;
    border-radius: 8px;
    padding: 8px;
    margin-right: 10px;
}
.live-chat-item .chat-button{
   padding: 0 10px;
}
.live-chat-item .chat-button button{
    width: 100%;
    border: none;
    background: blue;
    color: #fff;
    border-radius: 8px;
    padding: 10px;  
}
.monster-bot img{
    width: 15%;
    border-radius: 50%;
    margin-top: 15px;

}
.live-chat .logo img{
    width: 20%;
    border-radius: 50%;
}
.shoes-item{
    position: absolute;
    background: #fff;
    left: 100%;
    width: 700px;
    top: 0;
    font-size: 15px;
    padding: 20px 15px;
    border: 1px solid #e7e2e2;
    display: none;
    
}

.stove li{
    margin-top: 15px;
}
.shoes li{
    margin-top: 15px;
}
.shoes-item ul li a{
    margin-left: 0;
}
#header-top{
    background-color: #f5f5f5;
    height: 40px;
}
.number,span{
    margin-right: 10px;
}
.exchange{
    position: relative;
}
.exchange-item{
    display: none;
    background: #fff;
    padding: 5px 18px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    box-shadow: 1px 2px 2px black;
    right: 12px
}
.blog-items{
    display: none;
    position: absolute;
    background: #fff;
    z-index: 1;
    border: 1px solid #cec9c9;
    border-radius: 8px;
    padding: 10;
    font-size: 15px;
    left: 48%;
}

.blog-items ul {
    display: block;
    padding: 10px 80px 10px 10px;
}
.blog-items ul li{
    margin-top: 10px;
}
.exchange,a{
    color: black;
    text-decoration: none;
}
.exchange,a,i{
    margin-left: 10px;
}
.search .categories select:focus{
    outline: none;
}
.categories {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 10px;
}
.categories > select {
    background: none;
    border: none;
    width: 20%;
    height: 35px;
}

.categories > input {
    width: 60%;
    height: 35px;
    border: none;
    background: none;
}
.categories > input:focus{
    outline: none;
}
.categories > button {
    top: 0;
    border:none ;
    background: #015ade;
    color: #fff;
    height: 100%;
    position: absolute;
    width: 20%;
    border-radius: 0 30px 30px 0;
}
.row, .logo{
    display: flex;
    align-items: center;
    justify-content: end;
}

.row, .logo > img{
    margin-right: 10px;
}
#navbar{
    margin-top: 15px;
    border-top: 1px solid #c5c2c2;
    padding-top: 15px;
}
.count{
    position: absolute;
    background: blue;
    border-radius: 50%;
    padding: 1px 7px;
    font-size: 13px;
    color: #fff;
    bottom: 20px;
    right: 30px;
}
.categories-item{
    position: absolute;
    background-color: #fff;
    z-index: 2;
    left: 10px;
    border: 1px solid #f9f9f9;
    padding: 8px;
    top: 35px;
    border-radius: 5px;
    width: 30%;
    display: none;
}
.categories-item >ul > li{
    margin-top: 20px;
}
.nav-links, ul{
    display: flex;
}
ul{
    padding: 0;
}
.nav-links > ul > li{
    list-style-type: none;
    margin-right: 35px;
    font-size: 20px;
} 
.sign-in > ul > li{
    font-size: 20px;
    list-style-type: none;
} 
.sign-in > ul > li > a > i{
    margin-right: 12px;
} 
.sign-in{
    display: flex;
    justify-content: end;
}
.categories-btn > i{
    margin-right: 12px;
    color: blue;
}
.carousel-item{
    position: relative;
}

.carousel-item > .title{
    position: absolute;
    top: 25%;
    color: #fff;
    left: 5%;
}
.carousel-btn{
    background: #015ade;
    border: none;
    width: 42%;
    padding: 14px;
    border-radius: 25px;
    color: #fff;
}
.carousel-btn:hover{
    background-color: #fff;
    color: blue;
    transition: 0.8s;
}
.btn-indicator{
    border-radius: 50%;
    width: 10px;
    height: 10px;
}


#product-carousel{
    background-color: #f5f5f5;
}
#product-carousel .owl-one .owl-nav{font-size: 25px;}
#product-carousel .owl-one .owl-nav button{
    box-shadow: 0px 0px 5px #c6c1c1;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50%;
}
#product-carousel .owl-one .owl-nav button:hover{color: #fff; background-color: #015ade;}
#product-carousel .owl-one .owl-nav button i{
    margin-left: 0;
    padding: 5px 6px;
}

#product-carousel{
    background-color: #f5f5f5;
}


#top-categories .owl-second .owl-nav{font-size: 25px;}
#top-categories .owl-second .owl-nav button{
    box-shadow: 0px 0px 5px #c6c1c1;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50%;
}
#top-categories .owl-second .owl-nav button:hover{color: #fff; background-color: #015ade;}
#top-categories .owl-second .owl-nav button i{
    margin-left: 0;
    padding: 5px 6px;
}


#best-deals .owl-third .owl-nav{font-size: 25px;}
#best-deals .owl-third .owl-nav button{
    box-shadow: 0px 0px 5px #c6c1c1;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50%;
}
#best-deals .owl-third .owl-nav button:hover{color: #fff; background-color: #015ade;}
#best-deals .owl-third .owl-nav button i{
    margin-left: 0;
    padding: 5px 6px;
}


#customer-review .owl-fourth .owl-nav{font-size: 25px;}
#customer-review .owl-fourth .owl-nav button{
    box-shadow: 0px 0px 5px #c6c1c1;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50%;
}
#customer-review .owl-fourth .owl-nav button:hover{color: #fff; background-color: #015ade;}
#customer-review .owl-fourth .owl-nav button i{
    margin-left: 0;
    padding: 5px 6px;
}

#top-rated-product .owl-sixth .owl-nav{font-size: 25px;}
#top-rated-product .owl-sixth .owl-nav button{
    box-shadow: 0px 0px 5px #c6c1c1;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50%;
}
#top-rated-product .owl-sixth .owl-nav button:hover{color: #fff; background-color: #015ade;}
#top-rated-product .owl-sixth .owl-nav button i{
    margin-left: 0;
    padding: 5px 6px;
}

#best-seller .owl-sixth .owl-nav{font-size: 25px;}
#best-seller .owl-sixth .owl-nav button{
    box-shadow: 0px 0px 5px #c6c1c1;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50%;
}
#best-seller .owl-sixth .owl-nav button:hover{color: #fff; background-color: #015ade;}
#best-seller .owl-sixth .owl-nav button i{
    margin-left: 0;
    padding: 5px 6px;
}

#latest-blog .owl-seventh .owl-nav{font-size: 25px;}
#latest-blog .owl-seventh .owl-nav button{
    box-shadow: 0px 0px 5px #c6c1c1;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50%;
}
#latest-blog .owl-seventh .owl-nav button:hover{color: #fff; background-color: #015ade;}
#latest-blog .owl-seventh .owl-nav button i{
    margin-left: 0;
    padding: 5px 6px;
}





.owl-dots{
    display: none;
}

.item{
    background-color: #fff;
}
.item> .carousel-title{
    padding: 10px 28px;
}

.item, img{
    border-radius: 15px;
}
.glass-effect{
    display: none;
    position: absolute;
    width: 93%;
    height: 90%;
    top: 13px;
    left: 13px;
background: rgba(255, 255, 255, 0.32);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.9px);
-webkit-backdrop-filter: blur(0.9px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.ads-1:hover .glass-effect{
    display: block;
}
.glass-effect-2{
    display: none;
position: absolute;
width: 93%;
height: 76%;
top: 59px;
left: 13px;
background: rgba(255, 255, 255, 0.32);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.9px);
-webkit-backdrop-filter: blur(0.9px);
border: 1px solid rgba(255, 255, 255, 0.3);
} 
.ads-2:hover .glass-effect-2{
    display: block;
}

.right-image:hover .glass-effect-best-deal{display: block;}
.glass-effect-best-deal{
    display: none;
    position: absolute;
    width: 80%;
    height: 95%;
    top: 13px;
    right: 15%;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(0.9px);
    -webkit-backdrop-filter: blur(0.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.left-discount-img:hover .glass-effect-discount{display: block;}
.righ-discount-img:hover .glass-effect-discount{display: block;}
.glass-effect-discount{
    display: none;
    position: absolute;
    width: 92%;
    height: 92%;
    top: 13px;
    left: 4%;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(0.9px);
    -webkit-backdrop-filter: blur(0.9px);
    border: 1px solid rgba(255, 255, 255, 0.3)
}
#top-rated-product .right-image:hover .rated-product-glass-effect{display: block;}
.rated-product-glass-effect{
    display: none;
    position: absolute;
    width: 82%;
    height: 95%;
    top: 11px;
    left: 4%;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(0.9px);
    -webkit-backdrop-filter: blur(0.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.product-carousel-title > h2::before{
    content: '';
    height: 5px;
    width: 40px;
    position: absolute;
    top: 18px;
    left: 0;
    background-color: #015ade;
}
#product-carousel .owl-nav{
    position: absolute;
    right: 0;
    bottom: 395px;
    font-size: 44px;
}
.sale{
    position: absolute;
    left: 11px;
    background: #fbb50a;
    border-radius: 20px;
    padding: 3px 7px;
    z-index: 1;
    top: 10px;

}
#top-categories .owl-nav{
    position: absolute;
    right: 0;
    bottom: 300px;
    font-size: 44px;
}
.star-rating, ul ~ li{
    font-size: 12px;
}

.star-rating> ul  li  i{
    margin: 0;
    color: #fcae01;
}
.hov-image{
    position: absolute;
    top: 0;
    opacity: 0;
}
.hov-image:hover{
    transition: 1s;
    opacity: 1;
}

.item-img{
    width: 75%;
    display: flex;
    margin-top: 5px;
    padding: 41px;
    border: 1px solid #cec6ce;
    border-radius: 50%;
    height: 180px;
    box-shadow: 0px 0px 4px #cec6c6;
}
.item-img:hover{
    background-color: #015ade;
}

.top-categories-title{
    text-align: center;
    padding-right: 50px;
}

.top-categories-title p{
    color: #015ade;
}


.ads-img img{
    width: 100%;
}

.ads-img img:hover{
    transform: scale(1.05);
    transition: 0.5s;
}


.ads-title{
    color: #fff;
    position: absolute;
    top: 30px;
    left: 43px;
}
#best-deals{
    background-color: #f5f5f5;
}
.right-image img{
    width: 90%;
}
.right-img-title{
    color: #fff;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 30px 0 0 65px;
}
.right-img-title button{
    margin-top: 20px;
    border: none;
    color: #fff;
    background: #015ade;
    padding: 15px 30px;
    border-radius: 30px;
}
.right-img-title button:hover{
    background-color: #fff;
    color: blue;
    transition: 0.8s;
}

.owl-third .owl-nav{
    position: absolute;
    bottom: 485px;
    right: 0;
    font-size: 50px;
}
.product-block{
    margin: 3px 0;
    transition: 0.3s ease;
    padding-top: 50px;
}
.custom-testimonial-inner{
    border: 1.5px solid #d4cfcf;
    padding: 10px;
    border-radius: 8px;
}
.custom-testimonial-inner:hover{
    transition: 0.3s ease;
    box-shadow: 1px 1px 9px #d4cfcf;
}
.testmonial-image{
    margin: 0 auto;
    border: 0 none;
    display: block;
    padding-bottom: 15px;
    margin-top: -50px;
}
.testmonial-image li{
    display: block;
    text-align: center;
}

.testmonial-image li img{
    width: auto !important;
    margin: 0px auto 0;
}
#customer-review owl-item{
    width: 10% !important;
}
#customer-review .owl-nav{
    position: absolute;
    bottom: 300px;
    right: 0;
    font-size: 50px;
}
.featured-prod-ul{
    margin-right: 130px;
}
.featured-prod-ul li{
    margin-left: 25px;
    font-size: 20px;
}
.featured-prod-ul a{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.testi_title{
    display: block;
    text-align: center;
}
.discount-title{
    position: absolute;
    color: #fff;
    top: 0;
    margin: 30px;
}
.discount-title button{
    background: #015ade;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 15px;
}
.discount-title button:hover{
    background-color: #fff;
    color: blue;
    transition: 0.8s;
}

#product-logo .item{
    width: 140px !important;
}

#top-rated-product{
    background-color: #f5f5f5;
    position: relative;
}

.owl-sixth .owl-nav{
    display: block !important;
    position: absolute;
    bottom: 375px;
    right: 0;
    font-size: 55px;
}
#best-seller{
    background-color: #f5f5f5;
}
#best-seller .product-carousel-title{
    display: flex;
    justify-content: center;
}
#best-seller .product-carousel-title h2::before{
    left: 42%;
}
#best-seller .email{
    background: #fff;
    padding: 5px 12px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
#best-seller .email input{
    border: none;
    width: 100%;
}

#best-seller .email input:focus{
    outline: none;
}

#best-seller .email  a{
    background: #054ade;
    padding: 10px 33px 10px 25px;
    border-radius: 30px;
}
#best-seller .email a:hover{
    background-color: black;
    color: #fff;
    transition: 0.8s;
}

#latest-blog .card{
    width: 100% !important;
    border-radius: 10px !important;
    position: relative;
}
#latest-blog .card:hover{
    box-shadow: 0px 0px 7px 1px #b1acac;
}
#latest-blog .card img{
    border-radius: 10px 10px 0 0;
}

#latest-blog .day{
    position: absolute;
    background: blue;
    color: #fff;
    top: 23px;
    padding: 10px 35px;
    border-radius: 0px 8px 8px 0px;
    font-size: 20px;
}

#latest-blog .owl-nav{
    position: absolute;
    top: -100px;
    right: 0;
    font-size: 55px;
    display: block !important;
}

#latest-blog .card:hover .img-link{
    /* From https://css.glass */
    position: absolute;
    width: 100%;
    height: 48%;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.25);
border-radius: 8px 8px 0 0;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
.link{
    display: none;
}
.link a i{
    margin-left: 0 !important;
    background: black;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
    border: 2px solid blue;
}
.link a i:hover{
    background-color: #054ade;
    color: #fff;
}
#latest-blog .card:hover .link{
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
footer{
    background-color: #f5f5f5;
}
#shipping .item{
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

#shipping .item .icon{
    font-size: 40px;
    margin-right: 10px;
}

#shipping .container{
    border-bottom: 1px solid rgb(177, 175, 175);
    padding-bottom: 18px;
}
#FAQ .social-media ul li a i{
    background-color: #fff;
    margin-right: 5px;
    border-radius: 50%;
    padding: 15px;
    width: 47px;
    height: 45px;
    border: 1px solid #c2bfbf;

}

#FAQ .information ul li{margin-top: 25px;}
#FAQ .category ul li{ margin-top: 25px;}
#FAQ .contact-us ul{display: block !important;}
#FAQ .contact-us ul li{margin-top: 25px;}

#FAQ .contact-us ul li i{
    font-size: 25px;
    color: blue;
    margin-right: 10px;
}
#electronic-accesories a{
    margin-left: 20px;
}

#electronic-accesories .container{
    border-top: 1px solid rgb(177, 175, 175);
    padding-top: 30px;
}
#end .container{
    border-top: 1px solid rgb(177, 175, 175);
    padding-top: 15px;
}